<jsv-header>
    <button-header-left onclick="$JSView.back()">< Back</button-header-left>
    Contactes
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
    
		<h1 class="paddingFull10">Contactes</h1>
		
			<table class="striped">
			<thead>
				<tr>
				<th data-field="id_conacte">Contacte</th>
				<th data-field="id_telèfon">Telèfon</th>
				<th data-field="id_info_contacte">Info</th>
				</tr>
			</thead>
			
			<tbody>
				<tr>
				<td></td>
				<td onClick="$JSView.openModal('modal_info_XXX')"></td>
				<td></td>
				</tr>
				<tr>
				<td></td>
				<td onClick="$JSView.openModal('modal_info_XXX')"></td>
				<td></td>
				</tr>
				<tr>
				<td></td>
				<td onClick="$JSView.openModal('modal_info_XXX')"></td>
				<td></td>
				</tr>
				<tr>
				<td></td>
				<td onClick="$JSView.openModal('modal_info_XXX')"></td>
				<td></td>
				</tr>
			</tbody>
			</table>
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('inici')">Tornar a l'inici</button>

	</div>
	
</jsv-content>
